@use '@styles/settings/colors';
@use '@styles/settings/fonts';

/* BASE BUTTON */

.standardBtnConnectMob {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .icon {
        fill: colors.$light-color;
    }
}

.standardBtnConnect {
    height: 52px;
    background: colors.$primary-dark-color;
    border-radius: 26px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    .text {
        color: colors.$white-font;
        font: fonts.$f400-medium;
    }
    &.connected {
        background: colors.$light-color;
        .text {
            color: colors.$primary-font;
        }
    }
}

/* BUTTON TYPES */

.btnConnectMob {
    @extend .standardBtnConnectMob;
    background: colors.$primary-dark-color;
    position: relative;
    &.connected {
        background: colors.$primary-green;
    }
}

.BtnConnectPrimary {
    @extend .standardBtnConnect;
    position: relative;
    &.connected {
        background: colors.$white-color;
        border: 1px solid colors.$secondary-background;
    }
}

.BtnConnectSecondary {
    @extend .standardBtnConnect;
    &.connected {
        cursor: default;
    }
}

.btnDisconnect {
    position: absolute;
    right: 0;
    bottom: -60px;
    height: 50px;
    background: colors.$primary-dark-color;
    border-radius: 34px;
    font: fonts.$f400-medium;
    color: colors.$light-font;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 20px;
    z-index: 10;
}