// Global Styles

@import './settings/colors';
@import './settings/fonts';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap');

body {
  margin: 0;
  width: 100%;
  background: $background-dark;
  font-family: $primary-font;
  color: $text-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-weight-light;
  font-style: normal;
  font-optical-sizing: auto;
}

button {
  cursor: pointer;
  background-color: $background-light;
  color: $text-dark;
  border: none;
  border-radius: 0.5rem;
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $accent-primary;
  }
}

input {
  padding: 0.5rem;
  border: 1px solid $border-color;
  border-radius: 0.5rem;
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  color: $text-dark;
  background-color: $background-light;
  &:focus {
    outline: none;
    border-color: $accent-primary;
    box-shadow: 0 0 0.25rem rgba($accent-primary, 0.5);
  }
}

h1 {
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
}

h2 {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

h3 {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
}

h4,
h5,
h6 {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
}

a {
  color: $accent-primary;
  text-decoration: none;
  font-size: $font-size-base;
}
