.btnConnectWallet {
    background-color: inherit;
    display: flex;
    gap: 8px;
    padding: 0.5rem 1rem;
    margin-left: 24px;
    height: 48px;
    flex-direction: row;
    align-items: center;
    &:hover{
        background-color: inherit;
    }

}
