@use '@/styles/settings/colors';
.BlueButton {
    margin-top: 1rem;
    background-color: colors.$blue-button;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 48px;
  
    &:hover {
        background-color: colors.$blue-button-hover;
    }
  }