//PRIMARY COLORS

$secondary-background: #292929;
$primary-background: linear-gradient(180deg, #e3edff 0%, #ffffff 100%);
$white-background: #ffffff;

$disabled: #d7d7d7;

$primary-font: #292929;
$secondary-font: #7c7c7c;
$light-font: #f0f0f0;
$white-font: #ffffff;

$white-color: #ffffff;
$gray-font-color: #a6a6a6;
$black-color: #000000;
$primary-dark-color: #292929;
$primary-light-color: #f9f9f9;

$placeholder-color: #afafaf;
$placeholder-secondary-color: #a8b0c1;

$primary-color: #d8e6fe;
$secondary-color: #6c6c6c;
$light-color: #f1f1f1;
$border-light-color: #e4e4e4;
$border-dark-color: #242529;
$border-secondary-dark-color: #0c1910;

$btn-secondary: #f6faff;

$primary-green: #76d13e;
$secondary-green: #71c464;
$light-green: #d7ffbe;
$intermediate-green: #beff54;

$primary-blue: #07124c;
$primary-theme-color: #e7f0ff;

$primary-red: #fe0101;
$secondary-red: #800000;
$light-red: #ff4949;

$primary-yellow: #f0a500;

$light-gray-span: #6f6f6f;

/* Iair colors */

$full-black: #090909;
$red-disabled: #f65a5a;

$background-black: #1d1d1d;

$gray-font-color: #b2b2b2;

$campaign-dark-font: #131313;
$gray-menu: #f4f4f4;

$red-color: #fe0101;
$yellow-color: #f0a500;
$green-color: #76d13e;
$blue-color: #78b9e9;
$blue-dark-color: #07124c;
$gray-placeholder: #dedede;