// Core Backgrounds
$background-dark: #303A45;
$background-light: #ffffff;

// Text Colors
$text-primary: #e6e9ec;
$text-dark: #292929;

// Accent & Semantic Colors
$accent-primary: #76d13e; // green
$error: #fe0101;
$error-hover: #ff1a1a; // slightly darker red for hover
$orange: #f0a500;
$orange-light: lighten(#f0a500, 10%);

$red-light: #ff4949;

$blue-button:#007bff;
$blue-button-hover:#0056b3;


// Borders
$border-color: #e4e4e4;

// Utility
$white: #ffffff;
